.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
    padding: 0%;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    color: white;
    top: 30px;
}

.f-icons{
    display: flex;
    gap: 8rem ;
}

