.FloatingDiv{
    justify-content: space-around;
    display: flex;
    background: linear-gradient(to bottom, rgb(255, 242, 0), rgb(255, 255, 255) , rgba(237, 237, 237, 0.386));
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    padding: 0px 20px 0px 0px;
    height: 4.5rem;
}

.FloatingDiv>*{
    position: relative;
    right: 40px;
}

.FloatingDiv>img{
    transform: scale(0.4);
}

.FloatingDiv>span{
    font-family: larsseit;
    font-size: 18px;
    color: black;
}

